body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.post:hover {
    background-color: royalblue;
    font-style: italic;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.social_block {
    position: fixed;
    right: 0px;
    top: 260px;
    border: 5px #c42e23 solid;
    background-color: white;
    width: 30%;
}
.social_block p {
    width: 65%;
}

.clickers a:hover {
    border-bottom: orangered 10px double;
}

.VELIKAYASTRANAKITAY {
    position: absolute;
    width: 80px;
    height: 50px;
    left: 400px;
    top: 40px;
}

.special-offer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 559px;
    top: 288px;
}

.address::before {
    content: url(https://i.ibb.co/kcmts3m/Jw9SwFI.png);
}

.tel::before {
    content: url(https://i.ibb.co/zfyt1Mm/p4.png);
}

.nav-link:hover {
    transition: 1s;
    color: #9240b3;
}

.button:hover {
    transition: 500ms;
    background-color: #9240b3;
    color: white;
}